@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --theme-color: #04AA6D;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.left-pad {
    padding-left: 16px;
}

.center-container {
    margin: 15px;
    width: 100% - 10px;
    height: 90vh;
    position: relative;
}

.center-child {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    min-width: 460px;
    transform: translate(-50%, -50%);
}


.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: var(--theme-color);
    color: white;
}

.right-nav {
    float: right;
}

footer {
    overflow: hidden;
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #f2f2f2;
    margin: 0;
    height: 60px;
}

footer div {
    transform: translateY(75%);
}

footer a {
    float: right;
}

.dot {
    outline: dashed 1px black;
}

.material-icon {
	border: none; /* No border */
	background: none; /* Match the background of the parent */
	font-family: 'Material Icons'; /* Use the icon font */
	font-size: inherit; /* Input doesn't automatically inherit font size. This brings it in. */
	cursor: pointer; /* Change the cursor to a pointer when hovering on this element */
}

.trash-can {
	display: inline-block;
	box-sizing: border-box;
	color: red;
	/* Add property to change delete icon color */
}
.visually-hidden { 
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

#add-task {
    padding-bottom: 50px;
}

.task {
	display: block;
	width: 100%;
}

.task-description {
	display: inline-block;
	width: calc(100% - 12em);
	box-sizing: border-box;
}

.task-date {
	display: inline-block;
	width: 6em;
}

.trash-can {
	display: inline-block;
	box-sizing: border-box;
	color: red;
    transform: translateY(10%);
}

.checked {
	text-decoration: line-through;
}
input.task-description {
	width: 100%;
}

.middle-box {
    width: 25%;
    padding: 20px;
    min-width: 400px;
}

.large-list {
    width: 40%;
    padding: 50px;
    min-width: 800px;
}

.text-center {
    text-align: center;
}

.home {
    width: 10%;
    padding: 20px;
    min-width: 400px;
}